<div class= "main-image">
    <div class="main-text font-weight-bold">
        <p>文房具屋を</p>
        <p>もっと身近に。</p>
    </div>
    <div>
        <div><%= link_to "Click", new_customer_registration_path, class: "main-button pt-3" %></div>
    </div>
</div>
