@import '~bootstrap/scss/bootstrap';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.nav-item{
    padding-right: 20px;
}

footer{
    background-color: #CCCCCC;
    color: #666666;
}

.rink-button{
    background-color: #343a40;
    color: white;
     /* リンクの下線を無くす */
    text-decoration: none;
    border: 5px solid #343a40;
     /* 少しだけ角を丸める */
    border-radius: 3px;
    padding: 3px 20px;
}

.main-image{
    background-image: url('../images/bungu.jpg');
    background-size: cover;
    height: 700px;
    width: 100%;
    background-position: bottom;
    position: relative;
}

.main-text{
    font-size: 70px;
    position: absolute;
    right: 5%;
    top: 15%;
}

.main-button{
    font-size: 20px;
    color: black;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 50%;
}

thead{
    background-color: #F0F0F0;
}

// .navbar-collapse{
//     flex-basis: 0%;
// }

p.align-self-center{
    margin-bottom: 0rem;
}

.error_messages{
  color: red;
}

.alart{
  color: red;
}

.success{
  color: green;
}

.required{
  color: #4689FF;
}

.my_page_item{
  font-size: 18px;
  padding : 10px 30px;
}

.list {
    height: 50px;
}

// .inquiry-form{
//     padding-left: 16%;
// }

.table-boder{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.pagination {
  justify-content: center;
}

.page, .next, .last, .first, .prev{
  padding-right: 8px;
}

// タブ切り替え
// .tab {
//   width: 100%;
//   padding: 10px;
//   cursor: pointer;
//   border-left: solid 1px #CCC;
//   border-bottom: solid 1px #CCC;
// }
// .tab:first-child {
//   border-left: none;
// }
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示(タブ)
.box-show {
  display: table-row-group;
}
// hover時のアクション(タブ)
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.search-form{
  display: block;
  position: relative;
}

.search-form button{
  position: absolute;
  right: 5px;
  top: 5%;
  border: none;
  background: transparent;
}

.custom-size-l {
  font-size: 1.4em;
  height: 38px;
}

.table{
  height: 50px;
}

thead{
  border-bottom: 3px solid #dee2e6;
}

.table thead th {
  border-top: 0px; //管理者の今後のスケジュール一覧のborder-top消す
}

.thead-light{
  color: #495057;
  background-color: white;
  border-color: #dee2e6;
}
    
// simple-calendarのレイアウト
.simple-calendar {

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .calendar-heading{
    margin-bottom: 5px;
    font-weight: bold;
    .calendar-title{
      font-size: 25px;
      font-weight: bold;
    }
    a{
      border: 2px solid #C0C0C0;
      padding: 2px 5px;
      text-decoration: none;
    }
  }
  
  thead{
    background-color: rgba(0, 0, 0, 0);
  }
    
  .day {
    height: 130px;
  }

   // 日曜を赤に、土曜日を青にする
  .wday-0 {
    color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }

  .today {
    background-color: #FFFF99;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}



.simple-calendar .day {
  width: 100px;
}


@media (min-width: 769px){
  p.align-self-center{
    text-align: left;
  }
  
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 768px){
  .header-menu {
    display: none;
  }
  
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    padding: 0.5rem 1rem;
  }

  .nav-item{
    text-align: right;
  }
}