<div class= "container">
  <div class= "row my-5">
    <div class= "col-12 my-3">
        <h2 class="text-left font-weight-bold">お問合せフォーム</h2>
    </div>
    <div class= "row">
        <table class= "col-12 max-auto">
            <thead>
                <tr>
                    <th>日時</th>
                    <th>件名</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @inquiries.each do |inquiry| %>    
                    <tr>
                        <th><%= inquiry.created_at.strftime('%Y/%m/%d') %></th>
                        <th><%= inquiry.title %></th>
                        <th><%= link_to "詳細", root_path %></th>
                    </tr>
                <% end %>
            </tbody>
        </table> 
    </div>
  </div>
</div>